{% comment %}
Uso: {% include date_es.html date=some_date %}
Renderiza fechas en castellano: "D de mes de YYYY".
{% endcomment %}
{% assign d = include.date | date: "%-d" %}
{% assign m = include.date | date: "%-m" %}
{% assign y = include.date | date: "%Y" %}
{% case m %}
  {% when '1' %}{% assign mes = 'enero' %}
  {% when '2' %}{% assign mes = 'febrero' %}
  {% when '3' %}{% assign mes = 'marzo' %}
  {% when '4' %}{% assign mes = 'abril' %}
  {% when '5' %}{% assign mes = 'mayo' %}
  {% when '6' %}{% assign mes = 'junio' %}
  {% when '7' %}{% assign mes = 'julio' %}
  {% when '8' %}{% assign mes = 'agosto' %}
  {% when '9' %}{% assign mes = 'septiembre' %}
  {% when '10' %}{% assign mes = 'octubre' %}
  {% when '11' %}{% assign mes = 'noviembre' %}
  {% when '12' %}{% assign mes = 'diciembre' %}
{% endcase %}
{{ d }} de {{ mes }} de {{ y }}
